:root {
  --dark: #212121;
  --marvel: #f0131e;
  --light: #e0e0e0;
}

body {
  background-color: var(--light);
  color: var(--dark);
  font-family: monospace;
  margin: 0;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.logo {
  width: 200px;
  height: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.comic-layout {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

.comic-grid {
  background-color: #ffffff;
  border: 1px solid var(--dark);
  border-radius: 5px;
  padding: 10px;
  transition: transform .2s;
}

.comic-grid:hover {
  -ms-transform: scale(1.2); /* IE 9 */
  -webkit-transform: scale(1.2); /* Safari 3-8 */
  transform: scale(1.2);
}

.comic-thumbnail {
  width: 100%;
  height: auto;
}

.comic-title {
  display: block;
}

.search-field {
  margin-bottom: 10px;
  padding: 10px;
}