@import url(https://fonts.googleapis.com/css?family=Bungee);
@import url(https://fonts.googleapis.com/css?family=Inconsolata);

:root {
    --dark: #424242;
    --marvel: #f0131e;
    --light: #f5f5f5;
    --white: #ffffff;
}

body {
    background-color: var(--light);
    color: var(--dark);
    font-family: 'Inconsolata';
    margin: 0;
}

a {
    color: var(--dark);
    text-decoration: none;
}

h4, h2, a {
    font-family: 'Bungee';
}

.container {
    margin: auto;
    max-width: 1170px;
}

.top-bar {
    width: 100%;
    background-color: var(--dark);
    text-align: center;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.marvel-logo {
    width: auto;
    height: 50px;
    padding: 1em;
}

#comic-overview {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 20px;
    padding: 1em;
}

#load-overview {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 20px;
    padding: 1em;
    text-align: center;
    vertical-align: middle;
}

.load-card {
    width: 100%;
    padding-top: 6em;
    padding-bottom: 6em;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

@media only screen and (max-width: 900px) {
    #comic-overview {
        grid-template-columns: repeat(3, 1fr);
    }
    #load-overview {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media only screen and (max-width: 600px) {
    #comic-overview {
        grid-template-columns: repeat(2, 1fr);
    }
    #load-overview {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width: 400px) {
    #comic-overview {
        grid-template-columns: repeat(1, 1fr);
    }
    #load-overview {
        grid-template-columns: repeat(1, 1fr);
    }
}

.comic-card {
    /*text-align: center;*/

}

.comic-title {
    font-size: 12px;
    line-height: 150%;
    margin: 0;
    padding-top: 1em;
    font-weight: 300;
}

.comic-thumbnail {
    width: 100%;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    transition: transform 0.4s;
}

.comic-card:hover img {
    transform: translateY(-20px);
}

.comic-card:hover h5 {
    color: var(--marvel);
}

.comic-title {
    display: block;
}

.hidden {
    display: none !important;
}

#detail-container {
    padding: 1em;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, auto);
    grid-gap: 20px;
}

#detail-thumbnail {
    max-width: 300px;
    height: auto;
    grid-column: 1 / 2;
    margin-top: 10px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    border-radius: 5px;
    margin-left: auto;
}

.detail-text-container {
    grid-column: 2 / 3;
    max-width: 20em;
}

@media only screen and (max-width: 500px) {
    #detail-container {
        display: block;
    }
    #detail-thumbnail {
        max-width: 100%;
        display: block;
        height: auto;
    }
    .detail-text-container {
        max-width: 100%;
        display: block;
        margin-top: 1em;
    }
}

#detail-title {
    margin: 0;
    line-height: 150%;
}

#detail-description {
    margin: 0;
}

.back {
    font-size: 20px;
}

.back:hover {
    color: var(--marvel);
    transition: .4s;
}

.lds-dual-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
}
.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}